<div id="featured_area">
  <div class="wrapper">
    <h2 class="section-title">Featured Posts</h2>
    <div class="featured-posts">
      {% assign count = 0 %}
      {% for post in site.posts %}
      {% if post.featured == true and count < 2 %}
      <div class="featured-post">
        <div class="featured-post-image">
          {% if post.image %}
          <a href="{{site.baseurl}}{{post.url}}"><img src="{{site.baseurl}}/images/{{post.image}}" alt="" /></a>
          {% else %}
          <a href="{{site.baseurl}}{{post.url}}"><img src="{{site.baseurl}}/images/default-featured-image.jpg" alt="" /></a>
          {% endif %}
        </div>
        <div class="featured-post-content">
        <h3 class="featured-post-title"><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h3>

          {% include post-meta.html %}

          <p>{{post.excerpt | truncate: 200 | strip_html | strip_newlines}} <a href="{{site.baseurl}}{{post.url}}">Read More >></a>
          </p>
          <!-- use tag -->
          {% include post-tags.html %}
        </div>
      </div>
      {% assign count = count | plus: 1 %}
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
