<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col footer-col-1">
      {% include contac-info.html titleClass='footer-heading' %}
    </div>

    <div class="footer-col footer-col-2">
      {% include more-links.html %}
    </div>

    <div class="footer-col footer-col-3">
      {% include external-links.html %}
   </div>
 </div>
  <div class="copyrignt">
    <p>
      Copyrignt &copy; 2016 - All Right Resurved <a href="#">Md. Mahafuzur Rahaman</a>.
    </p>
  </div>
</footer>

{% include scripts.html %}
