<ul id="navigation">
  {% for item in site.data.settings.menu %}
  {% capture title %}
  {{ item.title | downcase }}
  {% endcapture %}
    <li {% if page.url == item.url OR page.url contains title %}class="active"{% endif %}>
      <a href="{% if item.title == "Resources" %}{{item.url}}{% else %}{{site.baseurl}}{{item.url}}{% endif %}">{{ item.title }}</a>
      {{title}}
      {% if item.dropdown %}
      <ul id="dropdown">
        {% for drop in item.dropdown %}
        <li><a href="{{site.baseurl}}{{drop.url}}">{{drop.title}}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
  {% endfor %}
</ul>
