<ul id="navigation">
  {% for item in site.data.settings.menu %}
  {% if item.title == "Tutorial" %}
  <li {% if page.url contains "/tutorial/" %}class="active"{% endif %}>
  {% elsif item.title == "Blog" %}
  <li {% if page.url contains "/blog/" %}class="active"{% endif %}>
  {% else %}
  <li {% if page.url == item.url %}class="active"{% endif %}>
  {% endif %}
      <a href="{% if item.title == "Resources" %}{{item.url}}{% else %}{{site.baseurl}}{{item.url}}{% endif %}">{{ item.title }}</a>
      {% if item.dropdown %}
      <ul id="dropdown">
        {% for drop in item.dropdown %}
        <li><a href="{{site.baseurl}}{{drop.url}}">{{drop.title}}</a></li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
  {% endfor %}
</ul>
