---
layout: default
---

  <section class="blog">

    <div class="posts-list">

      {% for post in paginator.posts limit: 4 %}
        <article class="post">
          <div class="post-image">
            {% if post.image %}
            <a href="{{site.baseurl}}{{post.url}}"><img src="{{site.baseurl}}/images/{{post.image}}" alt="" /></a>
            {% else %}
            <a href="{{site.baseurl}}{{post.url}}"><img src="{{site.baseurl}}/images/blog.jpg" alt="" /></a>
            {% endif %}
          </div>

          <div class="post-content">
            <h3 class="post-title"><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h3>
              {% include post-meta.html class='post-meta' %}
            <p>{{post.excerpt | truncate: 200 | strip_html | strip_newlines}} <a href="{{site.baseurl}}{{post.url}}">Read More >></a></p>
              {% include post-tags.html class="tag-list" %}
          </div>

        </article>
      {% endfor %}

    </div>

    {% include blog-pagination.html %}

  </section>

{% include blog-sidebar.html class="blog-sidebar" %}
