---
layout: default
---
<article class="single-post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="single-post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
      {% if page.author %}
        By: <a href="{{page.author}}">{{page.author}}</a>,
      {% endif %}
      {% if page.categories %}
        Catagory: {% for cat in page.categories %}
        <a href="{{site.baseurl}}{{post.url}}">{{cat}}</a>{% unless forloop.last%},{% endunless %}
        {% endfor %},
      {% endif %}
      {% if page.date %}
        {{page.date | date: '%B %d, %Y'}}
      {% endif %}
    </p>
  </header>

  <div class="single-post-content" itemprop="articleBody">
    {{ content }}
  </div>
  <hr>
  <p class="tag-list">
    {% for tag in page.tags %}
      <a href="{{site.baseurl}}/blog/tags.html#{{tag}}"><i class="fa fa-tag"></i> {{tag}}</a>
    {% unless forloop.last%},{% endunless %}
    {% endfor %}
  </p>
  <div class="pagination">
    <ul>
      {% if page.previous.url %}
      <li><a href="{{site.baseurl}}{{page.previous.url}}"><< Back</a></li>
      {% endif %}
      {% if page.next.url %}
      <li><a href="{{site.baseurl}}{{page.next.url}}">Next >></a></li>
      {% endif %}
    </ul>
  </div>
</article>
